h1, h3, h4 {font-family: 'Times New Roman'; color: black;}
header{background-color: blanchedalmond;} 
main {background-color: rosybrown;}
.polosa {background-color: blanchedalmond;}
.header_wrapper{display:flex; flex-wrap: wrap; align-items: flex-end;justify-content: space-between;}
.header_nav{display: flex;flex-wrap: wrap;}
.header_logo{flex-basis: 20%;}
.header_menu{display: flex;flex-wrap: wrap;}
.header_item{margin-right: 30px;border-width: 5px;}
.header_h1 