h1, h3, h4 {font-family: 'Times New Roman'; color: black;}
header{background-color: blanchedalmond;} 
main {
    background: var(--background-color);
    color: var(--text-color);}
body{
    --background-color: rgb(255, 241, 223);
    --text-color: rgb(54, 42, 42);
}
:root{
    --dark-background-color: rgb(59, 48, 37);
    --dark-text-color: rgb(255, 241, 223);
}
body.theme-dark{
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}
.polosa {background-color: rgb(97, 95, 92);}
.header_wrapper{display:flex; flex-wrap: wrap; align-items: flex-end;justify-content: space-between;}
.header_nav{display: flex;flex-wrap: wrap;}
.header_logo{flex-basis: 20%;}
.header_menu{display: flex;flex-wrap: wrap;}
.header_item{margin-right: 30px;border-width: 5px;text-decoration: none;border-left-style: solid;}
.footer_wrapper{display:flex; flex-wrap: wrap; align-items: flex-end;justify-content: space-between;}
.footer_ico{margin-right: 30px;border-width: 5px;}
.html_cards{display: grid;grid-template-columns: repeat(3,1fr);}
.cards{grid-column: span 1;margin-bottom: 10px;}
.spiski{display: grid;grid-template-columns: repeat(2,1fr);}
.one_spisok{grid-column: span 1;margin-bottom: 10px;}
.noselect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

